body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    padding: 0px;
    font-size: 35px;
    color: #727371;
}    
h2{
    font-size: 20px;
    color:#ff2020;
}    

hr{
    width: 500px;
}
#gameOver{
    position: absolute;
    font-size: 100px;
    text-align: center;
    padding: 15px;
    top: 190px;
    left: 430px;
    z-index: 999;
    display: flex;
    width: 399.5px;
    height: 250.5px;
    background-color: #3fbc11;
    border: 5px solid #bbada0;
    border-radius: 6px;
}

#board {
    width: 399.5px;
    height: 399.5px;

    background-color: #cdc1b5;
    border: 5px solid #bbada0;
    border-radius: 6px;
    margin: 0 auto;
      /* below two lines are for small baoxes filling line by line  */
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90.5px;
    height: 90.5px;
    border: 5.3px solid #bbada0;
    
    font-size: 40px;
    font-weight: bold;
    display: flex;
     /* below line to make text at center from horizonatal as well as vertical  */
    justify-content: center;
    align-items: center;
}

/* we cant state from no hence we use x */
/* tiles color  */
.x2 {
    background-color: #f0af6d;
    color: #727371;
}

.x4 {
    background-color: #d052dc;
    color: #e4ead4;
}

.x8 {
    background-color: #cf3636;
    color: white;
}

.x16{
    background-color: #044552;
    color: white;
}

.x32{
    background-color: #24bf43;
    color: white;
}

.x64{
    background-color: #ebeb04f3;
    color: white;
}

.x128{
    background-color: #0a0e78;
    color: white;
}

.x256{
    background-color: #3d0ab3;
    color: white;
}

.x512{
    background-color: #c26c5c2d;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #30ecd3;
    color: white;
}

.x4096 {
    background-color: #614bba;
    color: white;
}

.x8192 {
    background-color: #8310cf;
    color: white;
}